<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- META VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- META TITLE, DESCRIPTION AND KEYWORDS -->
    <title>Dark Web Merchandise - Dark Web Apparel</title>
    <meta
      name="description"
      content="Buy T-shirt and shop other accesories on the Dark Web."
    />
    <meta
      name="keywords"
      content="Dark Web, darkweb, deep web, appararel, merchendise, T-shirt, privacy"
    />

    <!-- ME -->
    <meta name="author" content="Laurens Stuurman" />

    <!-- STYLE -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%  static  'css/main.css'  %}"
    />

    <!-- FAVICON STUF -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{%  static  'img/apple-icon-57x57.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{%  static  'img/apple-icon-60x60.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{%  static  'img/apple-icon-72x72.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{%  static  'img/apple-icon-76x76.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{%  static  'img/apple-icon-114x114.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{%  static  'img/apple-icon-120x120.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{%  static  'img/apple-icon-144x144.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{%  static  'img/apple-icon-152x152.png'  %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{%  static  'img/apple-icon-180x180.png'  %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{%  static  'img/android-icon-192x192.png'  %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{%  static  'img/favicon-32x32.png'  %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{%  static  'img/favicon-96x96.png'  %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{%  static  'img/favicon-16x16.png'  %}"
    />
    <link rel="manifest" href="{%  static  'img/manifest.json'  %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{%  static  'img/ms-icon-144x144.png'  %}"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <!-- ### HTML BODY (ACTUAL CONTENT) -->
  <body>
    <div class="center">
      <h1 class="heading">DARK-WEB MERCHANDISE</h1>
    </div>

    <nav class="center">
      <ul>
        <li><a href="#">ORDER</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">EMAIL-LIST</a></li>
      </ul>
    </nav>

    <script src="" async defer></script>
  </body>
</html>
